.home-space{
    background-color: #f0f0f0;
}

.home-data {
    display: flex;              
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
}
.home-box{
    display: block;
    margin: 10px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
}
.category-select{
    left: 1000px;
}
.addbutton{
    font-size: 80px;
    position: fixed;
    bottom: 20px;
    right: 95px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}.graphbutton{
    font-size: 70px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.actions-button{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap:10px;
}
.trash-button{
    cursor:pointer;
    font-size: 20px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}
.editbutton{
    font-size: 20px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}
.logout-icon{
    color: #f0f0f0;
    position: absolute;
    right: 20px;
    top : 20px;
    border-radius: 20px;
    
}
.logout-icon:hover{
    background-color: rgb(230, 28, 28);
}


/* 親コンテナの絶対配置をやめる */
.user-info-section {
    display: block;      
    margin-top: 10px;    
    margin-bottom: 20px; 
    text-align: left;   
    background-color: black;
    width: fit-content;
    padding: 7px 13px;
    border-radius: 10px;
    cursor: pointer;
}

/* 子要素をインラインブロックにして横に並べる */
.user-info-icon,
.user-nickname {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

/* アイコンと名前の間の隙間 */
.user-nickname {
    margin: 0 0 0 10px; 
    font-size: 1.2rem;     
}